<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is first Page</title>
</head>
<body>
    <h1>WELCOME TO HOMEPAGE</h1>
    <form action='/secondfunc' method="get">
        Please Enter Your TEXT<br><br>
        <textarea name="string" style="margin: 0px; width: 376px; height: 184px;"></textarea><br>
        <input type="checkbox" name="rmvpunc">Remove Punctuations<br><br>
        <input type="checkbox" name="upper">Change to UPPERCASE<br><br>
        <input type="checkbox" name="rmvexw">Remove Extra Spaces<br><br>
        <input type="checkbox" name="lower">Change to lowercase<br><br>
        <input type="checkbox" name="rmvnl">Remove new line<br><br>
        <input type="checkbox" name="count">Count number of characters<br><br>
        <button type="submit">Proceed</button>
    </form>
</body>